@import "../../../styles/_variables";

.Link {
  &-outline {
    border: 2px solid $color-white;
    background-color: transparent;
    color: $color-white;
    padding: 14px 28px;
    font-size: $font-size-15;
    border-radius: 30px;
    margin-bottom: 50px;
  }

  &-outline:hover {
    background-color: $color-white;
    font-weight: 500;
    color: $color-teal;
    //border: 2px solid $color-teal;
  }
}
