@import "../../styles/_variables";

.Media {
  display: flex;
  flex-direction: column;
  justify-content: center;

  //TODO: pop these into their own stylesheet doc to make consistent across all pages
  h1 {
    font-size: $font-size-35;
    color: $color-grey-darker;
    padding-top: 80px;
    padding-bottom: 20px;
    margin-top: 100px;
    text-align: center;
  }

  &__main {
    height: auto;
    color: $color-white;

    .anchor {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: $color-grey-darker;
    }

    &-body {
      display: flex;
      flex-direction: column;
      width: 70%;
      margin: 10px auto;
      margin-bottom: 0;
    }

    button {
      width: 200px;
      
    }

    &-section {
      color: $color-grey-darker;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      float: center;
      padding-bottom: 20px;
      border-bottom: 1px solid $color-grey;

      h2 {
        margin-top: 0;
      }
  
      a {
        color: $color-grey-darker;
        padding: 3px;
        margin: 1px;
      }
    
      a:hover {
        border-bottom: 1px solid $color-grey-darker;
        padding-bottom: 2px;
      }
    }
  }
}
